body {
    background-image: url('images/bg.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    
}
main {
    width: 500px;
    margin: 0 auto; /* Center content */
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

/* GRID LAYOUT */
#karts{
    display: inline-grid;
    grid-gap: 25px;
    grid-template-columns: auto auto auto auto;
    line-height: 2em;
    padding-top: 40px;
    
}

input#num {
    width: 150px;
    height: 150px;
    font-size: 100px;
    text-align: center;
}
input#numItems {
    width: 100px;
}
.hover-kart:hover {
    background-color: rgba(131, 140, 123, 0.45);
    border-radius: 10px;
    font-weight: bold;
    color: white;
    padding: 5px;
    border: 1px solid rgb(131, 140, 123);
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.8);
}
input#num {
    background-color: #BDCBC8;
    border: 1px solid grey;
}
#result img {
    width: 50px;
}
button {
    background-color: #DBDBDB;
    color: #4C4C4C;
    padding: 5px 30px;
    font-size: 15px;
    border: 1px solid black;
}
button:hover {
    background-color: #BB0A21;
    color: white;
}
h1, h2 {
    font-family: 'Staatliches', cursive;
}
h1 {
    font-size: 3em;
    letter-spacing: 10px;
}
h2 {
    letter-spacing: 5px;
}
.hidden {
    display: none;
}
#rare-item {
    position: absolute; /* absolute = can be placed anywhere on page */
    left: 40px;
    top: 130px;
}