body {
    text-align: center;
    background-image: url('images/bg.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

/* GRID LAYOUT */
#karts {
    display: inline-grid;
    grid-gap: 25px;
    grid-template-columns: auto auto auto auto;
}

input {
    width: 150px;
    height: 150px;
    font-size: 100px;
    text-align: center;
}
